.lead {
    font-size: 2rem;
    line-height: 3.5rem;
}

div.header-content-inner {
    background:rgba(240, 95, 64, 0.6);
    padding:35px
}

#logos img {
  max-height:65px;
}

.bg-secondary {
	background-color: #337ab7;
	}

li {
list-style: none;
font-weight: bold;
}

.img-responsive {
display:block;
max-width:100%;
height:auto;
}